:root {
    --mint-color : #00D3AB;
    --dk-mint-color : #00c29d;
    --light-color : #fffff3;
    --dark-color : #2f2c33;
/* 메인페이지 */
    --banner-color : rgb(230, 222, 185);
/* 푸터 */
    --footer-bgc : #F8F8F8;
}

/*
body {
    background-color: #F2F4F7;
    background-color: var(--body-bg-color);
}
*/

/* 거의 항상 사용하는 css */

* {
    box-sizing: border-box;
    /* word-break: break-all; */
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

/* 버튼 커스텀 */
/* button[type="button"], button[type="submit"] {
	width: 9em;
	height: 2.5em;
} */

.btn-mint {
	color: #fffff3;
	color: var(--light-color);
	background-color: #00D3AB;
	background-color: var(--mint-color);
}

.btn-mint:hover {
	color: #fffff3;
	color: var(--light-color);
	background-color: #00c29d;
	background-color: var(--dk-mint-color);
}

/* 관리자 페이지의 모달의 닫기 버튼 크기 설정 */
.modal-header button[aria-label="Close"] {
	float: right;
	max-width: 3em;
}

/* 말줄임표 크기 */
table.table-layout-fixed {
	table-layout: fixed;
}
.ellipsis-parent {
	width: 100%;
	display: inline-block;
}
.ellipsis {
	width: 100%;
	white-space: nowrap; /* 한 줄로만 나타내게 함 */
	overflow: hidden;
	text-overflow: ellipsis;
}
