:root {
    --mint-color : #00D3AB;
    --dk-mint-color : #00c29d;
    --light-color : #fffff3;
    --dark-color : #2f2c33;
/* 메인페이지 */
    --banner-color : rgb(230, 222, 185);
/* 푸터 */
    --footer-bgc : #F8F8F8;
}

/* sb-admin-2.css 에서 가져온 글자색상 */
.text-gray-100 {
  color: #f8f9fc !important;
}

.text-gray-200 {
  color: #eaecf4 !important;
}

.text-gray-300 {
  color: #dddfeb !important;
}

.text-gray-400 {
  color: #d1d3e2 !important;
}

.text-gray-500 {
  color: #b7b9cc !important;
}

.text-gray-600 {
  color: #858796 !important;
}

.text-gray-700 {
  color: #6e707e !important;
}

.text-gray-800 {
  color: #5a5c69 !important;
}

.text-gray-900 {
  color: #3a3b45 !important;
}

/* 거의 항상 사용하는 css */
* {
    box-sizing: border-box;
    text-align: justify;
}

ul, ol, li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a, a:hover {
    text-decoration: none;
    color: black;
}

/* header, main 콘텐츠, footer를 묶음 */
.wrapper { 
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

/* main 콘텐츠만 묶음 */
.main-content {
	flex: 1;
}

/* 버튼 커스텀 */
/* button[type="button"], button[type="submit"] {
	width: 9em;
	height: 2.5em;
} */

.btn-mint {
	color: #fffff3;
	color: var(--light-color);
	background-color: #00D3AB;
	background-color: var(--mint-color);
}

.btn-mint:hover, .btn-mint.active {
	color: #fffff3;
	color: var(--light-color);
	background-color: #00c29d;
	background-color: var(--dk-mint-color);
}

.btn-mint.active {
	/*  학력사항&경력사항 해당 버튼 클릭시 색 변환 */
	background-color: #4e73df;
	background-color: var(--primary);
}

/* 관리자 페이지의 모달의 닫기 버튼 크기 설정 */
.modal-header button[aria-label="Close"] {
	float: right;
	max-width: 3em;
}

/* 말줄임표 크기 */
table.table-layout-fixed {
	table-layout: fixed;
}
.ellipsis-parent {
	width: 100%;
	display: inline-block;
}
.ellipsis {
	width: 100%;
	white-space: nowrap; /* 한 줄로만 나타내게 함 */
	overflow: hidden;
	text-overflow: ellipsis;
}

/* 영문 텍스트 줄바꿈 처리 */
.engBreakWord {
	word-break: break-all;
	word-wrap: break-word;      /* IE 5.5-7 */
	white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
	white-space: pre-wrap;      /* current browsers */
}