header {
	/* fedBoard에서는 header margin 없애기 */
    margin-bottom: 0;
}

.searchContainer {
	background-color: #fffff3;
	background-color: var(--light-color);
	background-repeat: no-repeat;
	/* z-index: -1; */
	/* height: 35vh; */
}
.searchWrapper {
	margin: auto;
	text-align: center;
}

.customSearchTextField {
	width: 70%;
}

.banner img {
  width: auto;
  height: 300px;
  object-fit: cover;
}

