header {
	/* fedBoard에서는 header margin 없애기 */
    margin-bottom: 0;
}

.searchContainer {
	background-color: #fffff3;
	background-color: var(--light-color);
	height: 25vh;
	display: flex;
 }
.searchWrapper {
	margin: auto;
	text-align: center;
}

.customSearchTextField {
	margin: auto;
	width: 70%;
}