header {
	/* fedBoard에서는 header margin 없애기 */
    margin-bottom: 0 !important;
}

/* header, main 콘텐츠, footer를 묶음 */
.wrapper{ 
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

/* main 콘텐츠만 묶음 */
.main-content {
	flex: 1;
}

.searchContainer {
	background-color: #fffff3;
	background-color: var(--light-color);
	height: 25vh;
	display: flex;
 }
.searchWrapper {
	margin: auto;
	text-align: center;
}

.customSearchTextField {
	margin: auto;
	width: 70%;
}