#title {
	font-weight: bold
}

body {
	font-family: 'Jua', sans-serif;
}

/* 기본 색상 */
:root {
    --resumy-blue: #4876EF;
    --resumy-gray: #B4C0D3;
    --resumy-green: #00D3AB;
    --resumy-black: #2F2C33;
    --resumy-white: #FFFFF3;
    }
    
.fileList {
	margin-top: 10px;
	width: 100%;
}

.fileList th {
	border-top: 2px solid var(--resumy-gray);
	border-bottom: 1px solid var(--resumy-gray);
	background-color: var(--resumy-green);
	text-align: center;
}

.fileList td,th {
	border-left: none;
	border-right: none;
	border-collapse: collapse;
	padding: 10px;
}

.fileList tr {
	border-bottom: 1px solid var(--resumy-gray);
}

.lastRow {
	border-bottom: 2px solid var(--resumy-gray);	
}



.btn_group_list {
	text-align: right;
}

.uploadBtn, .downloadBtn, .deleteBtn{
	border-radius: 4px;
	border: none;
	background-color: var(--resumy-gray);
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	
}

.btn_group_list .uploadBtn, .downloadBtn {
	margin-right: 10px;
}


/*모달 팝업*/ 
.modal {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	z-index: 1;
	padding-top: 40px;
	overflow: auto;
	
	/*display: none;*/
}

.modal .modal-content {
	background-color: #fefefe;
	top: 85px;
	width: 400px;
	margin: 5% auto 15% auto;
	border: 1px solid #888;
	
}

.modal .modal-content .container {
	padding-top: 40px; 
	padding-bottom: 30px;
	padding-left: 20px;  
	padding-right: 20px;
}

.modal .modal-content .container input {
	display: block;
	width: 100%;
	
}

	
.btn_group_file {
	width: 100%;
}

.btn_group_file .btn_cancel {
	
	text-align: left;
	left: 0;
}

.btn_group_file .btn_upload {
	
	text-align: right;
	right: 0;
}
	
