footer {
    display: flex;
    justify-content: center;
    margin-top: 6em;
    clear: both;
    background-color: #f8f8f8;
    background-color: var(--footer-bgc);
}

footer div:first-child {
    padding: 0;
}

footer div:last-child {
    margin-top: 1em;
}

footer img {
    width: 180px;
}

footer div {
    color: rgb(158, 158, 158);
    font-size: 13px;
}
