header {
    margin-bottom: 4em;
    height: 3em;
}

nav {
    height: 3em;
    background-color: #00D3AB;
    background-color: var(--mint-color);
}
nav ul { /* navbar-expand-lg 일 때 메뉴 배경색 */
    background-color: #00D3AB95;
}

/* 메뉴 비활성화 */
nav li a {
    color: white;
    font-size: 18px;
    font-weight: 700;
}

/* 메뉴 활성화 */
nav li a.active {
    color: #2f2c33;
	color: var(--dark-color);
}
nav li a:hover {
    color: #2f2c33;
	color: var(--dark-color);
}

/* 로그인 버튼 */
nav button.login_btn {
    text-align: center;
    color: #2f2c33;
    color: var(--dark-color);
    font-size: 14px;
    font-weight: 700;
    background-color: white;
}

/* 로그인 후 뜨는 계정정보 */
nav button.users_btn {
	height: 2.3em;
	color: white;
	border: none;
	outline: none;
	background: none;
}
nav button.users_btn i:first-child {
	font-size: 1.3em;
}

/* 계정정보 드롭다운 */
nav div.dropdown .dropdown-menu .label {
	margin: 0 15px 3px 18px; 
	color: lightgray;
	font-size: 12px;
	font-weight: 700;
}
nav div.dropdown .dropdown-menu .dropdown-item {
	font-size: 14px;
}

/* landscape : 가로가 더 긴 해상도 (ex. PC) */
@media screen and (orientation: landscape) {
    .navbar-brand > span:first-child {
        font-size: 24px;
    }
}
