body [class*=col] { /* col 을 포함하는 클래스 */
    padding: 0;
    width : 100%;
}

aside hr {
    float: left;
    width: 9em;
    border: 1px solid rgb(168, 168, 168);
}

aside ul {
    margin-left: 1em;
    clear: both;
    list-style: none;
}

aside li {
    margin-bottom: 1em;
    font-size: 15px;
}

aside li.active {
    font-weight: 700;
}

.topListBtn{
	float: right; 
}
/*정보 inputBox size */
.inputBox{
        width:150px;
        height:30px;
        font-size:15px;
      }
/*기본정보(주소) inputBox size */      
.inputBox2{
        width:270px;
        height:30px;
        font-size:15px;
      }
/*경력사항(담당업무) inputBox size */      
.inputBox3{
        width:90%;
        height:30px;
        font-size:15px;
      }     
/*기본정보 배경색 */         
div.basic{
	height: 200px;
	background-color:#F8F8F8;
	padding : 5px 5px 5px 5px; 
}
/*학력사항 배경색 */ 
div.school{
	height: 250px;
	background-color:#F8F8F8;
	padding : 5px 5px 5px 5px; 
}
/*경력사항 배경색 */ 
div.company{
	height: 300px;
	background-color:#F8F8F8;
	padding : 18px 5px 5px 5px; 
}      
/*학력사항 중제목 글씨 size*/
h5 {
	font-size:18px;
} 
   
      



