body [class*=col] { /* col 을 포함하는 클래스 */
    padding: 0;
    width : 100%;
}

aside hr {
    float: left;
    width: 9em;
    border: 1px solid rgb(168, 168, 168);
}

aside ul {
    margin-left: 1em;
    clear: both;
    list-style: none;
}

aside li {
    margin-bottom: 1em;
    font-size: 15px;
}

aside li.active {
    font-weight: 700;
}
/*기본정보 수정버튼 위치*/
.topListBtn{
	text-align: right;
	padding: 2px 10px 2px 5px;
}
/*정보 inputBox size */
.inputBox{
        width:150px;
        height:30px;
        font-size:15px;
      }
/*기본정보(주소) inputBox size */      
.inputBox2{
        width:270px;
        height:30px;
        font-size:15px;
      }
/*경력사항(담당업무) inputBox size */      
.inputBox3{
        width:90%;
        height:30px;
        font-size:15px;
      }     
/*기본정보 배경색 */         
div.basic{
	height: 200px;
	background-color:#F8F8F8;
	padding : 5px 5px 5px 5px; 
}
/*학력사항 배경색 */ 
.school{
	height: 300px;
	background-color:#F8F8F8;
	magin : 5px 5px 5px 5px;
}
/*학력사항 초,중,고,대 별 각각 보이게하기*/
.spec{
	display:none;
}   
/*새로고침시 하단 경력추가+버튼 안보이게하기*/
.plusBtn {
	display:none;
}
/*초기화면시 학력사항 배경 안보이게하기*/
.mainSpec{
	display:none;
}
/*학력사항 타이틀 제목(초등학교 정보입력..등등)*/
.title{
	height:15%;
	padding: 10px 0 0 20px;
	font-size:18px;
}
/*학력사항 서브 제목(학교명,지역..등등)*/
.subtitle{
	text-align: center;
	font-size:17px;
}
/*학력사항 입력 수정버튼 위치*/
.btnWriteUpdate{
	text-align: right;
	padding: 2px 10px 2px 5px;
}

/*경력사항 배경색 */ 
div.company{
	height: 300px;
	background-color:#F8F8F8;
	padding : 18px 5px 5px 5px; 
}      


