/* 기본 색상 */
:root {
	--resumy-blue: #4876EF;
	--resumy-gray: #B4C0D3;
	--resumy-green: #00D3AB;
	--resumy-black: #2F2C33;
	--resumy-white: #FFFFF3;
}

header {
	/* index에서는 header margin 없애기 */
    margin-bottom: 0;
}

.heroImg {
	text-align: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(https://i.ibb.co/jRSpn1C/skyscrapers-hero-Img.jpg);
	background-position: center;
    background-size: cover;
    height: 50vh;
    width: 100%;
    min-height: 250px;
    color: #FFFFF3;
    color: var(--resumy-white);
    margin-bottom: 30px;
    
    
    
}

.heroImg .heroImgTxt {	
	margin-top: 110px;
    margin-bottom: auto;
}

.heroImg div p {
	font-size: 1.5vw;
	text-align: center;  
}

.heroImg div h1 {
	font-size: 3vw;
	text-align: center;
}


.heroImg img {
	width: 20%;
}


.infoBox {
	width: 25%;
	height: 200px;
	display: inline-block;
	border: 1px solid #B4C0D3;
	border: 1px solid var(--resumy-gray);
	border-top : 4px solid #4876EF;
	border-bottom : none;
	padding: 10px;
	color: gray;
	margin-bottom: 10px;
}

@media screen and (max-width: 991px){
	.heroImg {
		height: 300px;
	}
	
	.infoBox {
		width: 33.3%;		
	}
	
	.heroImgTxt {
		display: none;
	}
	
	.heroImg img {
		width: 50%;
		margin-top: 65px;
	}
}

@media screen and (max-width: 730px){
	.heroImg {
		height: 250px;
	}	
	
	.infoBox {
		width: 50%;		
	}
	
	.heroImgTxt {
		display: none;
	}
	
	.heroImg img {
		width: 50%;
		margin-top: 65px;
	}
}

.infoBox:hover {
	border: 4px solid #4876EF;
	color: black;
}

.infoBox .logo {
	/* border: 1px solid blue; */
 	width: 100%;
	margin-top: 10px;
	margin-bottom: 15px;
}

.infoBox img {
	width: 45%;
	height: 20%;
	object-fit: cover;
}

.infoBox span {
	float: left;
	/* border: 1px solid red; */
	margin-bottom: 5px;
}


.title {
	font-size: 15px;
	width: 100%;
	font-weight: 900;

}

.busiNm {
	font-size: 15px;
	width: 72%;
	color: var(--resumy-blue);
	color: #4876EF;
}

.clcdNm {
	width: 28%;
	font-size: 12px;
	text-align: right;
}

.type {
	width: 100%;
	font-size: 10px;
	color: var(--resumy-gray);
	color: #B4C0D3; 
}

.endt {
	width: 45px;
	font-size: 12px;
	text-align: center;
	font-weight: 400;
	color: #4876EF;
	border: 1px solid #4876EF;
	border-radius: 4px; 
	float: right;
}

.endtUnder3 {
	width: 45px;
	font-size: 12px;
	text-align: center;
	font-weight: 400;
	color: red;
	border: 1px solid red;
	border-radius: 4px; 
	float: right;
}

.endtEx {
	width: 45px;
	font-size: 12px;
	text-align: center;
	color: gray;
	font-weight: 400;
	border: 1px solid gray;
	border-radius: 4px; 
	float: right;
}

@keyframes blink-effect { 50% { opacity: 0; } }
.blinking { 
	animation: blink-effect 0.8s step-end infinite;
	color: red;
	border: 1px solid red;
	} 

.hidden {
	display: none;
}



