
/* 기본 색상 */
:root {
	--resumy-blue: #4876EF;
	--resumy-gray: #B4C0D3;
	--resumy-green: #00D3AB;
	--resumy-black: #2F2C33;
	--resumy-white: #FFFFF3;
}


body {
	/*font-family: 'Jua', sans-serif;*/
	/*background-color: var(--resumy-white);*/
}
#content .title-resume {
	margin-top: 30px;
}

#content .container-resume {
	display: table;
	float: left;
	
	width: fit-content;
    height: fit-content;
    background: var(--resumy-gray);
	border-radius: 5px;
	
	margin: auto;
}



.container-resume .box {
	display: inline-block;
	width: 148px;
    height: 120px;
    border-radius: 10px;
    margin: 18px;
    padding: 10px;
	background: var(--resumy-white);	
}

.container-resume .box:hover {
    cursor: pointer;
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.3);
}



.box .info-box {
	width: 100%;
	float: left;
	
	
}

.box .info-box .info-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.container-resume .box-btn {
	display: inline-block;
	width: 148px;
    height: 120px;
    border-radius: 10px;
    margin: 18px;
    padding: 10px;
	
	border-style: dotted;
	object-fit: cover;
	background-image: url(../img/plus.png);
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
	
}

.container-resume .box-btn:hover {
    cursor: pointer;
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.3);
}

.clear{
	clear: both;
}


/* crud_form_box */
.input-title-line {
	
}
.input-title-text {
	font-size: 1.1em;
	font-weight: 600;
	
	padding-left: 0.5em;
	margin-top: 15px;
	width: 300px;
}


.input-question-text {

	font-weight: 500;
	padding: 0.5em; 
	margin-top: 15px;
	width: 100%;
	height: fit-content;
}

.input-content-text {
	padding-left: 0.5em;
	margin-top: 15px;
	width: 100%;
	height: 350px;
}

/* 나머지 버튼 */
.gr button[type="button"], button[type="submit"] {
	width: 9em;
	height: 2.5em;
}

/* search*/
#searchBox {
	vertical-align: middle;
}
.customSearchTextField {
	height: 2.2em;
}



